In [1]:
import calendar
import numpy as np
import pandas as pd
import scipy as sp

In [2]:
census = pd.read_csv("./qid/statcan.csv")
age_col = census["Age (in single years), average age and median age (128)"]
census = census[age_col.map(len) <= 2]
gen_col = census["Gender (3a)"]
census = census[gen_col.map(lambda x: x in ["Men+", "Women+"])]
census = census[["Age (in single years), average age and median age (128)", "Gender (3a)", "VALUE"]]
census = census.rename(columns={"Age (in single years), average age and median age (128)": "age", "Gender (3a)":"gender", "VALUE":"number"})

men_census = census[gen_col == "Men+"]
women_census = census[gen_col == "Women+"]

d = {
    'age' : men_census['age'].values,
    'men' : men_census['number'].values,
    'woman' : women_census['number'].values,
}

print(d)

census = pd.DataFrame(d)

display(census)

census.to_csv("./qid/census.csv", index=False)

{'age': array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '65', '66', '67', '68',
       '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
       '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90',
       '91', '92', '93', '94', '95', '96', '97', '98', '99'], dtype=object), 'men': array([181860., 186860., 193235., 200445., 205950., 208855., 209750.,
       214760., 214935., 216065., 220335., 222125., 220630., 214330.,
       209600., 207570., 207765., 203440., 208360., 218925., 226965.,
       224805., 230735., 237390., 243640., 245650., 242600., 246900.,
       249345., 257850., 257425., 249145., 243350., 245030., 250395.,
       250420., 247740., 246365., 243605., 244890., 240190., 233410.,
       229465., 227920., 227855., 228835., 221725., 223085., 227690.,
       237575., 233880., 230835., 228680., 230695., 245270., 261100.,
       266300., 267915., 259390., 262305., 256195., 248930., 246735.,
       230650., 225705., 213380., 202460., 193115., 187155., 180235.,
       173895., 171880., 166680., 135680., 126140., 119160., 110565.,
        97550.,  90525.,  80715.,  73760.,  66645.,  59260.,  54820.,
        47320.,  41635.,  36780.,  32190.,  27050.,  21065.,  16215.,
        12875.,  10095.,   7240.,   4250.,   2940.,   1960.,   1275.]), 'woman': array([173525., 178465., 183800., 189870., 196155., 198215., 200095.,
       202435., 203755., 204685., 208890., 209245., 208525., 201875.,
       196980., 194770., 195380., 192370., 196750., 204805., 211420.,
       210205., 216125., 220880., 231000., 233665., 236485., 242795.,
       249430., 256710., 258930., 251700., 248110., 250595., 254200.,
       256380., 254680., 254480., 253100., 253135., 249315., 243715.,
       238750., 238615., 237530., 237750., 232265., 231590., 235850.,
       246040., 242390., 240210., 237720., 240330., 252960., 271150.,
       275510., 277125., 270600., 274420., 269245., 262185., 259400.,
       244955., 241800., 231195., 218710., 209015., 203450., 197585.,
       192055., 189105., 185540., 152595., 141815., 135615., 126620.,
       115205., 110095., 100355.,  93595.,  86740.,  78860.,  74255.,
        67610.,  61140.,  57755.,  51950.,  46740.,  39590.,  33340.,
        28355.,  22715.,  18205.,  12070.,   9185.,   6595.,   4660.])}

/tmp/ipykernel_89406/3098453452.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  men_census = census[gen_col == "Men+"]
/tmp/ipykernel_89406/3098453452.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  women_census = census[gen_col == "Women+"]

   age       men     woman
0    1  181860.0  173525.0
1    2  186860.0  178465.0
2    3  193235.0  183800.0
3    4  200445.0  189870.0
4    5  205950.0  196155.0
..  ..       ...       ...
93  95    7240.0   18205.0
94  96    4250.0   12070.0
95  97    2940.0    9185.0
96  98    1960.0    6595.0
97  99    1275.0    4660.0

[98 rows x 3 columns]